{% extends 'layout.html' %}

{% block title %}
    About
{% endblock %}

{% block content %}
    <h1>About</h1>
    <br>
    <p>Welcome to the BME 489 project for Team 6! Stroke Technology for Trauma Classification (StrokeTTC) is an application meant to diagnose strokes and seizures using EEG data! We are very excited to be working on this project and to contribute towards helping diagnose patients.</p> 
    <br>
    <p><h2>Meet the Team:</h2></p>
    <p><h4>Dalton Aaker</h4></p>
    <p>Put individual blurbs here!</p>
    <br>
    <p><h4>Max Egendoerfer</h4></p>
    <p>Put individual blurbs here!</p>
    <br>
    <p><h4>Grace Lingley</h4></p>
    <p>Put individual blurbs here!</p>
    <br>
    <p><h4>Evan Pittman</h4></p>
    <p>Put individual blurbs here!</p>
    <br>
    <p><h4>Alyssa Pribnow</h4></p>
    <p>Put individual blurbs here!</p>
    <br>
    <br>
    <br>


    <p>Back to the <a href="/">Home</a> page.</p>
{% endblock %}