{% extends 'layout.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example Bar Chart with CI</title>
</head>
<body>
    <h1>Example Diagnosis Chart with Confidence Intervals</h1>
    <img src="{% static 'bar_graph_ci_example.png' %}?{{ timestamp }}" alt="Bar Graph with Confidence Intervals">
    <p>Select <b>Import Data</b> to get started uploading the EEG results in a .edf file format.</p>
    <br>
    <p>Upon uploading data, you will see a chart with results similar to the one above.</p>
</body>
</html>
{% endblock %}